@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: lightgrey;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.Home {
  font-family: "Roboto";
  font-size: 14px;
  align-items: "center";
  justify-items: "center";
  text-decoration: none;
}

.title {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: "bold";
  text-align: center;
  text-decoration: none;
}

#reserve {
  margin-top: 10px;
  margin-left: 32.5%;
  background-color: white;
  font-family: "Roboto";
  text-decoration: none;
}

#repertuar {
  margin-top: 10px;
  margin-left: 9.5%;
  background-color: white;
  font-family: "Roboto";
  text-decoration: none;
}
